@import url("https://fonts.googleapis.com/css2?family=Allison&family=Bangers&family=Roboto:wght@500;700&display=swap");

:root {
    --roboto: "Roboto", sans-serif;
    --banger: "Bangers", cursive;
    --allision: "Allison", cursive;
    --card-bg: linear-gradient(to right top, #000000, #2c2c2a);
    --orange: #fd6e06;
    --card-blk: #212223;
    --warning-color: #ffc107;
    --red: #ff0000;
    --white: #ffffff;
}

/* menu hero */
.menuHeroSection {
    width: 100%;
    height: 150px;
    background-image: url(../images/backgrounds/menuHeroBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
}

.textSpecial {
    font-family: var(--allision);
    color: var(--white);
    font-size: 5rem;
    font-weight: 900;
}

.textSpecial span {
    color: var(--red);
    font-size: 8rem;
}

.burgers {
    position: relative;
    background-image: url(../images/backgrounds/burgerBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
}

.pizzas {
    position: relative;
    background-image: url(../images/backgrounds/pizzaBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
}

.pastas {
    position: relative;
    background-image: url(../images/backgrounds/pastaBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
}

.menuSection {
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.3);
}

.menuSection h2 {
    color: var(--orange);
    font-family: var(--banger);
    font-size: 4rem;
    z-index: 1;
}

.menuSection .card {
    background-image: var(--card-bg);
    border: none;
    transition: all ease 0.5s;
    z-index: 1;
}

.menuSection .card:hover {
    box-shadow: 0 0 30px 5px #000000;
    transform: scale(1.1);
}

.menuSection .card:hover img {
    animation: imgPop 2s forwards;
}

.wishlist i {
    cursor: pointer;
    background-color: var(--orange);
}

.count i {
    background-color: #000000;
}

.count i:hover {
    cursor: pointer;
}

.menuSection h2 i,
.menuSection h2 img {
    animation: h2IconAnimation 1s infinite alternate forwards;
}

.menuSection p {
    margin: 0;
    letter-spacing: 0.25rem;
}

/* category links */
.categoryLinks {
    transform: translate(50%);
    z-index: 4;
    transition: transform ease 0.5s;
}

.categoryLinks:hover {
    transform: translateX(0);
}

.categoryLinks .catLinks a {
    transition: all ease 0.25s;
}

.categoryLinks .catLinks a:hover {
    transform: scale(1.5);
}

.categoryLinks .catLinks i {
    color: var(--orange);
}

.categoryLinks .showCategoryLinks i {
    animation: showCatLinksAnimation infinite 2s alternate;
}

/* Media screen medium devices */
@media only screen and (min-width: 768px) {
    .menuSection h2 {
        font-size: 4rem;
    }

    .menuSection p {
        font-size: 1rem;
    }

    .categoryLinks {
        transform: translateX(0);
    }
}
/* media screen large devices */
@media only screen and (min-width: 992px) {
    .menuHeroSection {
        height: 300px;
    }

    .menuSection p {
        font-size: 1.2rem;
    }

    .textSpecial {
        font-size: 8rem;
    }
    .textSpecial span {
        font-size: 12rem;
    }
    .menuSection h2 {
        font-size: 7rem;
    }
}

/* Menu category icon animation */
@keyframes h2IconAnimation {
    from {
        transform: rotate(-10deg);
    }
    to {
        transform: rotate(10deg);
    }
}

/* Menu card image animation */
@keyframes imgPop {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* angle icon animation */
@keyframes showCatLinksAnimation {
    0% {
        color: #ffffff;
        transform: translateX(-6px);
    }
    30% {
        transform: translateX(-4px);
    }
    60% {
        color: #fd6e06;
        transform: translateX(-10px);
    }
    70% {
        transform: translateX(-5px);
    }
    100% {
        color: #ffffff;
        transform: translateX(-8px);
    }
}
