body {
    background-image: url(../images/backgrounds/menuHeroBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: rgba(252, 186, 3, 0.5);
    padding: 3rem;
}

.navbar a {
    font-size: 1.5rem;
    color: #ffffff;
}

.navbar-toggler {
    border: none;
}
